#.gitignore

# Terraform state files
*.tfstategit
*.tfstate.*

# Backup files
*.tfstate.backup

# Terraform plan files
*.tfplan

# Local .terraform directories
.terraform/

# Terraform variable files with sensitive data
*.tfvars

# IDE and editor specific files
*.swp
*.swo
*.DS_Store